
@model  hihis.MessagePage.Message

@{
    Layout = "_Layout";
    ViewData["Title"] = @Model.Title;
}

<div class="card m-4">
   <div class="card-header bg-danger text-light">
       <h3>@Model.Title</h3>
   </div>
   <div class="card-body">
         @Html.Raw(Model.HtmlContent)
   </div>
   <div class="card-footer">
       Chuyển đến - <a href="@Model.UrlRedirect">@Model.UrlRedirect</a>
   </div>
</div>