@page "/user/{Id:int?}"
@model kkk.Pages.ProductModel

@{
    var product = Model.product;
    var products = Model.productService.AllProduct();
}

<h1>@ViewData["title"]</h1>

@if(product != null)
{
    <h2>@product.Name</h2>
    <p>mo ta : @product.Description</p>
    <p>@product.Price</p>

    <p>
        <a asp-page="User" asp-route-id="">danh sach san pham</a>

    </p>
    <form method="post" asp-page="User" asp-page-handler="Delete" asp-route-id="@product.Id">
        <button type="submit" class="btn btn-danger">Xoa</button>
    </form>
}
else{
    <ul>
        @foreach (var item in products)
        {
            <li>
                <a asp-page="User" asp-route-id="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>

    <hr />
    <p>
        <a class="btn btn-primary" asp-page="User" asp-page-handler="LastProduct">San pham cuoi</a>
        <a class="btn btn-danger" asp-page="User" asp-page-handler="Remove">xoa sp</a>
        <a class="btn btn-info" asp-page="User" asp-page-handler="Load">nap sp</a>
    </p>
}